<div class="row content">
    <div class="col s12 m4 l4 center">
        <img style=" width: 80%; max-height: 450px;" [src]="this.imagen">
    </div>
    <div class="col s12 m8 l8">
        <div>
            <h3 style="display: inline;">{{movie.title}}</h3>
            <h4 style="display: inline;"> ({{movie.released_date.getFullYear()}})</h4>
        </div>
        <p style="text-align: justify;">
            {{movie.description}}
        </p>
        <p>
            <b>Duration:</b> {{movie.duration}}
        </p>
        <p>
            <b>Release date:</b> {{getDate(movie.released_date)}}
        </p>
        <p>
            <b>Genre:</b> {{movie.genre}}
        </p>
        <p>
            <b>Raiting:</b> {{movie.rating}}
        </p>

    </div>

    <div class="col s12 m12 l12 video-container" style="margin-top: 20px;">
        <iframe width="100%" [src]="this.safeURL" frameborder="0" allowfullscreen></iframe>
    </div>
</div>